window.plugin.email.isServiceAvailable(
    function (isAvailable) {
    if(isAvailable){
       window.plugin.email.open({
                                          to:[sample@gmail.com,eg@gmail.com],
                                          cc:[test@gmail.com],
                                          bcc:[testing@gmail.com],
                                          subject: 'Testing Email Composer',
                                          body:'Email Composer Message In Body'
    
});
}else{
console.log("No Email Option Available");
    }
    });
